* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #1c1c1c;
  color: #fff;
}

.container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 115px 52px;
  gap: 44px;
  width: 550px;
  height: 550px;
  background-color: #1f2937;
}

h1 {
  color: #fff;
  font-size: 40px;
  font-weight: 800;
  margin-bottom: 5px;
}

h1 > span {
  color: #34d399;
}

h2 {
  font-weight: 400;
  font-size: 20px;
  line-height: 1.3;
  color: #d5d4d8;
  margin-bottom: 51px;
}

button {
  background-color: #34d399;
  border: none;
  border-radius: 6px;
  padding: 9px 15px;
  color: #fff;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 500;
  cursor: pointer;
}

button:active {
  background-color: #2ebe8a;
}

.divider {
  height: 2px;
  width: 100%;
  border: 1px solid #2f3e53;
}

.container-bottom {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 211px;
  height: 39px;
  background-color: #273549;
  padding: 4px 15px;
  border-radius: 6px;
}

.password {
  color: #55f991;
  font-size: 16px;
  line-height: 2;
  cursor: pointer;
  transition: all 0.3s ease;
}

.password:active {
  color: #00ff00;
}
